
#inp{
    width: 350px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 2PX 3PX;
}
#inp:hover{
    background-color: rgb(238, 235, 235);
}
input ::placeholder{
    font-size: 30px;
}
li{
    background-color: rgb(243, 196, 196);
    width: 300px;
    color: black;
    margin: 15px;
    font-size: 35px;
    border-radius: 20px;
}
h2{
    text-transform: uppercase;
    font-size: 25px;
}
h1 { animation: leSnake 1.5s ease-in-out; animation-iteration-count: infinite }
@keyframes leSnake {
    from, to { transform: translateY(0px) }
    50% { transform: translateY(30px) }
}
.main{
    width: 380px;
    height: 500px;
  background-color: rgb(245, 124, 124);
  margin-left: 500px;
  margin-top: 50px;
  padding: 50px;
  padding-top: 40px;
  border-radius: 25px;
  box-shadow: 3px 3px black;
  background-color: rgb(114, 219, 235);
}
body{
    background-color: aquamarine;
}